.not-found {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found h1 {
  font-size: 80px;
  margin: 0;
}

.not-found h2 {
  font-size: 30px;
  margin: 10px 0;
}

.not-found p {
  font-size: 18px;
  margin-bottom: 20px;
}

.not-found a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: white;
}