button {
  padding: 8px 16px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}



.edit-btn {
  background-color: #16a34a;
}

.edit-btn:hover {
  background-color: #15803d;
}

.delete-btn {
  background-color: #dc2626;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

th:last-child {
  width: 140px;
  text-align: center;
}

td:last-child {
  text-align: center;
  white-space: nowrap;
}